/*  #ifdef  MP-WEIXIN  */
@use '../variables' as *;

// 所有标签 盒模型
page,
page:after,
page:before,
view,
view:after,
view:before,
input,
input:after,
input:before,
button,
button:after,
button:before,
camera,
camera:after,
camera:before,
audio,
audio:after,
audio:before,
navigator,
navigator:after,
navigator:before,
scroll-view,
scroll-view:after,
scroll-view:before,
swiper,
swiper:after,
swiper:before,
swiper-item,
swiper-item:after,
swiper-item:before,
movable-view,
movable-view:after,
movable-view:before,
movable-area,
movable-area:after,
movable-area:before,
cover-image,
cover-image:after,
cover-image:before,
cover-view,
cover-view:after,
cover-view:before,
icon,
icon:after,
icon:before,
text,
text:after,
text:before,
rich-text,
rich-text:after,
rich-text:before,
progress,
progress:after,
progress:before,
editor,
editor:after,
editor:before,
form,
form:after,
form:before,
label,
label:after,
label:before,
picker-view,
picker-view:after,
picker-view:before,
picker,
picker:after,
picker:before,
checkbox,
checkbox:after,
checkbox:before,
radio,
radio:after,
radio:before,
slider,
slider:after,
slider:before,
switch,
switch:after,
switch:before,
video,
video:after,
video:before,
image,
image:after,
image:before,
map,
map:after,
map:before,
live-player,
live-player:after,
live-player:before,
live-pusher,
live-pusher:after,
live-pusher:before,
canvas,
canvas:after,
canvas:before,
web-view,
web-view:after,
web-view:before,
open-data,
open-data:after,
open-data:before,
official-account,
official-account:after,
official-account:before,
ad,
ad:after,
ad:before,
textarea,
textarea:after,
textarea:before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
}
/*  #endif  */
