/* Border Radius */
$border-radius: 4rpx !default;
$border-radius-sm: 4rpx !default;
$border-radius-base: $border-radius !default;
$border-radius-lg: 12rpx !default;
$border-radius-circle: 50% !default; // 圆
$border-radius-semicircle: 999px !default; // 半圆
