// 主题色
$primary: #0071ff !default; // 主题色

/* 行为相关颜色 */
$color-primary: $primary;
$color-info: #94b4eb;
$color-success: #4cd964;
$color-warning: #f0ad4e;
$color-danger: #dd524d;

/* 文字基本颜色 */
$color-text: #333; // 基本色
$color-text-active: $primary; // 主题色
$color-text-inverse: #fff; // 反色
$color-text-grey: #999; // 辅助灰色，如加载更多的提示信息
$color-text-placeholder: #808080;
$color-text-disable: #c0c0c0;

/* 边框颜色 */
$color-border: #ddd;
$color-border-active: $primary;

/* 文章场景相关 */
$color-title: #2c405a; // 文章标题颜色
$color-subtitle: #555; // 二级标题颜色
$color-paragraph: #3f536e; // 文章段落颜色

// 背景色
$color-page: #f5f5f5 !default;
