// 文字尺寸
$font-size: 28rpx !default;
$font-size-sm: 24rpx !default;
$font-size-base: $font-size !default;
$font-size-lg: 32rpx !default;

/* 文章场景相关 */
$font-size-title: 32rpx;
$font-size-subtitle: 30rpx;
$font-size-paragraph: 28rpx;
