// 字体大小
$font-size: 28rpx !default;

$font-size-base: $font-size !default;

$font-size-xxs: 20rpx !default;
$font-size-xs: 22rpx !default;
$font-size-sm: 24rpx !default;
$font-size-md: 26rpx !default;
$font-size-lg: 30rpx !default;
$font-size-xl: 32rpx !default;
$font-size-xxl: 34rpx !default;

$font-size-title: $font-size !default;
$font-size-desc: $font-size-xs !default;

$font-size-panel-title: $font-size-xl !default;
