/************************************ 已定 且不再更改 ************************************/

// 字体间距
$line-height: 1 !default;
// 默认字体间距
$line-height-base: $line-height !default;

// 中文字体间距
$line-height-zh: 1.4 !default;
// 英文字体间距
$line-height-en: 1.3 !default;
