@use './hairline.scss';
@use './ellipsis.scss';

$yh--white: #fff;
$yh--black: #000;
$yh--padding-xs: 16rpx;
$yh--padding-md: 32rpx;
$yh--font-size-md: 28rpx;

$yh-animation-duration-fast: 0.2;

// info
$yh-info-size: 32rxp;
$yh-info-color: #fff;
$yh-info-padding: 0 6rxp;
$yh-info-font-weight: 500;
$yh-info-font-size: 24rpx;
$yh-info-font-family: PingFang SC, Helvetica Neue, Arial, sans-serif;
$yh-info-border-width: 2rpx;
$yh-info-background-color: #ee0a24;
$yh-info-dot-size: 16rpx;
$yh-info-dot-color: #ee0a24;

// icon
// cell
$yh-cell-vertical-padding: 20rpx;
$yh-cell-horizontal-padding: 32rpx;
$yh-cell-font-size: 28rpx;
$yh-cell-line-height: 48rpx;
$yh-cell-text-color: #323233;
$yh-cell-background-color: #fff;
$yh-cell-label-margin-top: 6rpx;
$yh-cell-label-font-size: 24rpx;
$yh-cell-label-line-height: 36rpx;
$yh-cell-label-color: #969799;
$yh-cell-value-color: #969799;
$yh-cell-icon-size: 32rpx;
$yh-cell-right-icon-color: #969799;
$yh-cell-active-color: #f2f3f5;
$yh-cell-required-color: #ee0a24;
$yh-cell-large-vertical-padding: 24rpx;
$yh-cell-large-title-font-size: 32rpx;
$yh-cell-large-label-font-size: 28rpx;

// cell-group
$yh-cell-group-title-padding: 32rpx 32rpx 16rpx;
$yh-cell-group-title-line-height: 32rpx;
$yh-cell-group-title-color: #969799;
$yh-cell-group-title-font-size: 28rpx;

// loadinng
$yh-loading-spinner-color: #c8c9cc;
$yh-loading-spinner-size: 60rpx;
$yh-loading-animation-duration: 0.8s;
$yh-loading-text-color: #969799;
$yh-loading-text-font-size: 28rpx;
$yh-loading-text-line-height: 40rpx;

// button
$yh-button-border-radius: 4rpx;
$yh-button-border-radius: 12rpx;
$yh-button-plain-background-color: #fff;

$yh-button-default-color: #323233;
$yh-button-default-background-color: #fff;
$yh-button-default-border-color: #ebedf0;
$yh-button-default-height: 88rpx;
$yh-button-default-font-size: 32rpx;

$yh-button-primary-color: #1989fa;
$yh-button-primary-color: #2f54d4;
$yh-button-info-color: #07c160;
$yh-button-danger-color: #ee0a24;
$yh-button-warning-color: #ff976a;

$yh-button-large-height: 100rpx;
$yh-button-normal-font-size: 28rpx;

$yh-button-small-min-width: 120rpx;
$yh-button-small-height: 60rpx;
$yh-button-small-font-size: 24rpx;

$yh-button-mini-min-width: 100rpx;
$yh-button-mini-height: 44rpx;
$yh-button-mini-font-size: 20rpx;

$yh-button-disabled-opacity: 0.5;

// overlay
$yh-overlay-background-color: rgba(0, 0, 0, 0.7);

// popup
$yh-popup-background-color: #fff;
$yh-popup-round-border-radius: 40rpx;
$yh-popup-close-icon-z-index: 1;
$yh-popup-close-icon-color: #969799;
$yh-popup-close-font-size: 36rpx;
$yh-popup-close-icon-margin: 32rpx;

// image
$yh-image-placeholder-text-color: #969799;
$yh-image-placeholder-font-size: 28rpx;
$yh-image-placeholder-background-color: #f7f8fa;

// nav-bar
$yh-nav-bar-title-font-weight: 500;
$yh-nav-bar-title-font-size: 32rpx;
$yh-nav-bar-arrow-size: 32rpx;
$yh-nav-bar-height: 88rpx;
