$yh--white: #fff;
// info
$yh-info-size: 32rxp;
$yh-info-color: #fff;
$yh-info-padding: 0 6rxp;
$yh-info-font-weight: 500;
$yh-info-font-size: 24rpx;
$yh-info-font-family: PingFang SC, Helvetica Neue, Arial, sans-serif;
$yh-info-border-width: 2rpx;
$yh-info-background-color: #ee0a24;
$yh-info-dot-size: 16rpx;
$yh-info-dot-color: #ee0a24;

// icon
$yh-icon-size: 32rxp;
