@font-face {
  font-family: "yh-icon"; /* Project id 3397845 */
  src: url('iconfont.woff2?t=1658212467100') format('woff2'),
       url('iconfont.woff?t=1658212467100') format('woff'),
       url('iconfont.ttf?t=1658212467100') format('truetype');
}

.yh-icon {
  font-family: "yh-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yh-icon-details:before {
  content: "\e66d";
}

.yh-icon-add:before {
  content: "\e767";
}

.yh-icon-move:before {
  content: "\e768";
}

.yh-icon-picker:before {
  content: "\e65c";
}

.yh-icon-fail:before {
  content: "\e6a1";
}

.yh-icon-success:before {
  content: "\e6b6";
}

.yh-icon-delete_fill:before {
  content: "\e6a7";
}

.yh-icon-hook:before {
  content: "\e645";
}

.yh-icon-close:before {
  content: "\e646";
}

.yh-icon-loading:before {
  content: "\e64f";
}

.yh-icon-radio-checked_hook:before {
  content: "\e657";
}

.yh-icon-close_round_fill:before {
  content: "\e658";
}

.yh-icon-close_round:before {
  content: "\e659";
}

.yh-icon-back:before {
  content: "\e679";
}

.yh-icon-scan:before {
  content: "\e689";
}

.yh-icon-checkbox_checked_fill:before {
  content: "\e6d4";
}

.yh-icon-checkbox:before {
  content: "\e6d5";
}

.yh-icon-checkbox_checked:before {
  content: "\e6d6";
}

.yh-icon-radio:before {
  content: "\e6d7";
}

.yh-icon-voice:before {
  content: "\e6ef";
}

.yh-icon-voice_fill:before {
  content: "\e6f0";
}

.yh-icon-wifi:before {
  content: "\e6f2";
}

.yh-icon-female:before {
  content: "\e71a";
}

.yh-icon-male:before {
  content: "\e71c";
}

.yh-icon-radio-checked:before {
  content: "\e75b";
}

.yh-icon-radio-checked_fill:before {
  content: "\e763";
}

.yh-icon-close_light:before {
  content: "\e7dc";
}

.yh-icon-back_light:before {
  content: "\e7e0";
}

.yh-icon-delete_light:before {
  content: "\e7ed";
}

.yh-icon-edit:before {
  content: "\e66e";
}

.yh-icon-search:before {
  content: "\e67d";
}

.yh-icon-arrow-right:before {
  content: "\e665";
}

