// 当HTML的data-theme为 red 时，样式引用 red
// data-theme为其他值时，就采用组件库的默认样式
// 这里我只定义了两套主题方案，想要再多只需在`$themes`里加就行了
// 注意一点是，每套配色方案里的key可以自定义但必须一致，不然就会混乱 例如 color

$themes: (
  default: (
    background-color: $primary,
    color: $primary,
  ),
  red: (
    background-color: #ee5253,
    color: #ee5253,
  ),
  green: (
    background-color: #10ac84,
    color: #10ac84,
  ),
  pink: (
    background-color: #f368e0,
    color: #f368e0,
  ),
);
